<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>朋友圈</title>
<link href="quan2.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="top">
<img class="tu1" src="tu1.jpg">
<p>梦里梦到醒不来的梦</p>
<img class="tu2" src="tu1.jpg">
</div>
<div class="meg">
<div class="meg1">
<img class="photo1" src="tu1.jpg">
<p class="name">Dream</p>
<p class="ff">晴天真好</p>
<img class="photo2" src="tu1.jpg">
<p class="tt">25分钟前</p>
<img class="photo3" src="dian.png">
<hr />
</div>
</div>
<script>
	
for (var i=1;i<11;i++){
a = '<li id="{{ forloop.counter }}" class="card">';
                  a += '<div class="card-header">';
                  a += '<i>{{ forloop.counter }} </i><span>({{ question.score }} Points) </span>';
                  a += '<input type="text" name="mc"/>';
                  a += '</div>';
                  a += '<div class="card-body">';
                  a += '<input type="radio" class="radioOrCheck" name="{{ test.id }}" value="A" style="padding-right=20px;"/>';
                  a += '<label style="padding-right=20px;">A</label>';
                  a += '<input type="radio" class="radioOrCheck" name="{{ test.id }}" value="B" style="padding-right=20px;"/>';
                  a += '<label style="padding-right=20px;">B</label>';
                  a += '<input type="radio" class="radioOrCheck" name="{{ test.id }}" value="C" style="padding-right=20px;"/>';
                  a += '<label style="padding-right=20px;">C</label>';
                  a += '<input type="radio" class="radioOrCheck" name="{{ test.id }}" value="D" style="padding-right=20px;"/>';
                  a += '<label style="padding-right=20px;">D</label>';
                  a += '</div>';
                  a += '</li>';
   $(".meg").append(a);
  }
  
</script>
 
 
</body>
</html>