<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="../static/jquery-3.3.1.min.js"></script>
  <script src="../static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link href="../static/css/index.css" rel="stylesheet">
  <title>Prepare Exam: {{ subject }}</title>
</head>


<body>


  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a target="view_window">
      <span class="navbar-brand">
        <img src="../static/img/polyu.gif" height="48" alt="PolyU Logo" style="vertical-align: -4px;">
      </span>
    </a>
    <a target="view_window">
      <span class="navbar-brand">
        <img src="../static/img/estudent.png" height="48" alt="PolyU Logo" style="vertical-align: -4px;">
      </span>
    </a>
  </nav>

  <div class="main">
    <!--nr start-->
    <div class="test_main">
      <div class="nr_left">
        <div class="test">
          <form id="answers" action="/subPrepare/" method="post" style="padding: 10px;">
            <div class="card">

              <input type="hidden" name="tid" value="{{ teacher.id }}" />
              <input type="hidden" name="subject" value="{{ subject }}" />
              <div class="card-header">
                Preparing Exam: {{ teacher.id }} {{ subject }}
              </div>
              <div class="card-body">
                <!--card-body 容纳所有选区，包括单选填空问答-->
                <!--单选-->
                <div class="card-title">
                  <h2>Multiple Choice</h2>
                  <p>
                    <span>In total of </span>
                    <input id="mcnum" name="mcnum" type="number" onchange='mcexpand()' step="1" min="1">
                    
                    <span> Question(s),</span>
                    <span>Worth </span>
                    <input id="mcpoint" name="mcpoint" type="number" onchange='mcexpand()' step="1" min="1">
                    <span> Point(s) each</span>
                  </p>
                </div>
                <span class="mcmerg">
                </span>
                
                <!--填空-->
                <div class="card-title">
                  <h2>Fill in Blank</h2>
                  <p>
                    <span>In total of </span>
                    <input id="fbnum" name="fbnum" type="number" onchange="fbexpand()" step="1" min="1">
                    
                    <span> Question(s),</span>
                    <span>Worth </span>
                    <input id="fbpoint" name="fbpoint" type="number" onchange="fbexpand()" step="1" min="1">
                    <span> Point(s) each</span>
                  </p>
                </div>
                <span class="fbmerg">
                </span>
                <!--问答题-->
                <div class="card-title">
                  <h2>Q &amp; A</h2>
                  <p>
                    <span>In total of </span>
                    <input id="flnum" name="flnum" type="number" onchange="flexpand()" step="1" min="1">
                    
                    <span> Question(s),</span>
                    <span>Worth </span>
                    <input id="flpoint" name="flpoint" type="number" onchange="flexpand()" step="1" min="1">
                    <span> Point(s) each</span>
                  </p>
                </div>
                <span class="flmerg">
                </span>

              </div>
              <div class="card-footer" style="position: relative; bottom: auto; vertical-align: bottom; text-align: end; font-size: 12px; color: grey;">
                Online Exam System Developed by Group 20: MAN Furui, WANG Meng, XING Shiji, ZHANG Yubo<br>
                COMP2411 DataBase Systems, Year2020 Semester1, The Hong Kong Polytechnic University<br>
              </div>
              <!--floating toolbar for submission-->
              <div id="toolbar" class="card" style="position: fixed; right: 40px; bottom: 100px; text-align: center; padding: 10px">
                <input type="submit" name="submit_button" style="color: red; padding: 6px; text-align: center; " value="SUBMIT" />
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!--nr end-->
  </div>



</body>
<script>
  function mcexpand() {
    $(".mcmerg").html();
    var a = '';
    for(var id=1; id<=document.getElementById("mcnum").value; id++) {
      a += '<li id="' + id + '" class="card">';
      a += '<div class="card-header">';
      a += '<i>'+ id + ' </i><span>('+ document.getElementById("mcpoint").value + ' Points) </span>';
      a += '<input type="text" name="mc" placeholder="Multiple Choice Question"/>';
      a += '</div>';
      a += '<div class="card-body">';
      a += '<input type="radio" class="radioOrCheck" name="{{ question.id }}" value="A" style="padding-right=20px;"/>';
      a += '<label style="padding-right=20px;">A</label>';
      a += '<input type="radio" class="radioOrCheck" name="{{ question.id }}" value="B" style="padding-right=20px;"/>';
      a += '<label style="padding-right=20px;">B</label>';
      a += '<input type="radio" class="radioOrCheck" name="{{ question.id }}" value="C" style="padding-right=20px;"/>';
      a += '<label style="padding-right=20px;">C</label>';
      a += '<input type="radio" class="radioOrCheck" name="{{ question.id }}" value="D" style="padding-right=20px;"/>';
      a += '<label style="padding-right=20px;">D</label>';
      a += '</div>';
      a += '</li>';
      $(".mcmerg").html(a);
    }
  }
  function fbexpand() {
    $(".fbmerg").html();
    var a = '';
    for(var id=1; id<=document.getElementById("fbnum").value; id++) {
      a += '<li id="' + id + '" class="card">';
      a += '<div class="card-header">';
      a += '<i>'+ id + ' </i><span>('+ document.getElementById("fbpoint").value + ' Points) </span>';
      a += '<input type="text" name="fb" placeholder="Fill-Blank Question"/>';
      a += '</div>';
      a += '<div class="card-body">';
      a += '<a>Answer: </a><input type="text" name="{{ question.id }}" style="padding-right=20px;" placeholder="Stardard Answer here..."/>';
      a += '</div>';
      a += '</li>';
      $(".fbmerg").html(a);
    }
  }
  function flexpand() {
    $(".flmerg").html();
    var a = '';
    for(var id=1; id<=document.getElementById("flnum").value; id++) {
      a += '<li id="' + id + '" class="card">';
      a += '<div class="card-header">';
      a += '<i>'+ id + ' </i><span>('+ document.getElementById("flpoint").value + ' Points) </span>';
      a += '<input type="text" name="fl" placeholder="Short Question"/>';
      a += '</div>';
      a += '<div class="card-body">';
      a += '<a>Answer: <i>NO STANDARD ANSWER AVAILABLE</i></a>';
      a += '</div>';
      a += '</li>';
      $(".flmerg").html(a);
    }
  }
  
</script>
</html>