<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <link href="../static/css/index.css" rel="stylesheet">
    <title>Online Exam System</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light ">
      <a href="https://www.polyu.edu.hk" target="view_window"><span class="navbar-brand">
          <img src="../static/img/polyu.gif" height="48" alt="PolyU Logo" style="vertical-align: -4px;">
      </span>
      </a>
      <a href="https://www.polyu.edu.hk" target="view_window"><span class="navbar-brand">
          <img src="../static/img/estudent.png" height="48" alt="PolyU Logo" style="vertical-align: -4px;">
      </span>
      </a>

      <ul class="navbar-nav">

        <a href="/logout/"><div class="card" style="position: fixed; right: 40px; top: 22px;">
            <div class="card" style="padding: 6px; color:#cc1313"><b>LOGOUT</b>
        </div></a>

      </ul>
  </nav>
  <div class="jumbotron big-banner" style="height: 670px; padding-top: 150px">
  <div class="container">
    <div class="card" style="height: 100%;">
      <a class="card-header" style="color: red; text-align: center;"><b>Welcome to Online Exam System!</b></a>
      <div class="card-body" style="text-align: center;">
        <br>
        <a>Please Choose Your Identity for Login</a><br>
        <a style="vertical-align: 20px;"></a>
        <button data-target="#stuModal" data-toggle="modal" class="btn btn-primary">Student Login</button>
        <button data-target="#teaModal" data-toggle="modal" class="btn btn-primary">Teacher Login</button>
        <br><br><br>
      </div>
      <div class="card-footer" style="font-size: 12px;">
        <a class="nav-link" href="/admin">administrator</a>
      </div>
    </div>
    
  </div>  
  <div style="position: fixed; right: 40px; bottom: 60px; text-align: end; font-size: 12px; color: white;">
    Online Exam System Developed by Group 20: MAN Furui, WANG Meng, XING Shiji, ZHANG Yubo<br>
    COMP2411 DataBase Systems, Year2020 Semester1, The Hong Kong Polytechnic University<br>
  </div>
  </div>

  <!--{#学生登录的模态对话框#}-->
  <div class="modal fade" tabindex="-1" role="dialog" id="stuModal">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Student login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form class="form-horizontal" action="/studentLogin/" method="post">
              <div class="modal-body">

                      <div class="form-group">
                          <label class="col-sm-3 control-label">Student ID</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" name="id" placeholder="Input student ID">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="addr" class="col-sm-3 control-label">Password</label>
                          <div class="col-sm-9">
                              <!--
                              <textarea id="addr" class="form-control" rows="3"></textarea>
                              -->
                              <input type="password" class="form-control" name="password" placeholder="Input password">
                          </div>
                      </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Login</button>
              </div>
              </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>

  <!--{#老师登录的模态对话框#}-->
  <div class="modal fade" tabindex="-1" role="dialog" id="teaModal">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Teacher login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form class="form-horizontal" action="/teacherLogin/" method="post">
              <div class="modal-body">


                
                      <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label">Teacher ID</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" name="id" placeholder="Input teacher ID">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="addr" class="col-sm-3 control-label">Password</label>
                          <div class="col-sm-9">
                              <!--
                              <textarea id="addr" class="form-control" rows="3"></textarea>
                              -->
                              <input type="password" class="form-control" name="password" placeholder="Input password">
                          </div>
                      </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Login</button>
              </div>
              </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>


</body>

<script>
    $("#toExam+{{ paper1.subject }}").click(function () {

    });
</script>
</html>